[alias]
	br = branch
	ci = commit
	co = checkout
	df = diff
	lg = log
	st = status

	branches = branch -a
	tags = tag -l
	remotes = remote -v

	amend = commit --amend
[color]
	ui = auto
[core]
	editor = vim
	trustctime = false
[credential]
	helper = osxkeychain
[push]
	default = simple
